#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.glass-form-container {
  /*background: url('your-blurred-background-image.jpg');  Set your background image here */
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  backdrop-filter: blur(10px);
  background-color: rgba(0, 0, 50, 0.5); /* Dark blue background color with transparency */
  margin-top: 5%;
}

.glass-form {
  background: rgba(255, 255, 255, 0.2); /* Transparent white background for the form */
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Box shadow for the glass effect */
}

.convert-button {
  background: rgba(255, 255, 255, 0.5); /* Slightly more opaque white for the button */
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5%;
}

.result-container {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
  margin-top: 20px;
}
