.glass-form-container {
    background: url('your-blurred-background-image.jpg'); /* Set your background image here */
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
    width: 80%;
    backdrop-filter: blur(10px);
    background-color: rgba(255, 255 255, 0.05);
    padding-left: 3%;
    padding-right: 3%;
    padding-bottom: 3%;
    border-radius: 8px;
    filter: blur(0.2px);
    border-width: 0.1px;
    border-style: solid;
    border-color: rgba(255, 255 255, 0.425);
    position: relative;
    margin-top: 5%;
    margin-bottom: 5%;
}
  
.glass-form {
    position: relative;
    background: rgba(255, 255, 255, 0.2); /* Transparent white background for the form */
    border-radius: 10px;
    padding: 5% 3% 0 3%;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2); /* Box shadow for the glass effect */
    filter: blur(0.2px);
    border-width: 0.1px;
    border-style: solid;
    border-color: rgba(255, 255 255, 0.425);
    
}

.glass-form .input-container {
    display: flex;
    justify-content: space-between;
}

label {
    margin-right: 1rem;
}
label:last-child {
    margin-right: 0;
}

input, select {
    border: none;
    border-bottom: 2px gray solid;
    background-color: transparent;
}

input:focus, select:focus {
    outline: none;

}
input:hover {
    filter: drop-shadow(0 0 2em #646cffaa);
}

select {
    color: #000000;
    /*margin-right: 1%;*/
}
 

option {
    background-color: #333;
    color: #FFFFFF;
}
  
  
.convert-button {
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 160px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
    background-color: rgba(255, 255 255, 0.05);
    text-align: center;
    margin: 30px auto;
    cursor: pointer;
}
  
.result-container {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.2);
    margin-top: 20px;
}

/*Mobile*/
@media screen and (max-width: 768px) {

    h1 {
        font-size: 0.8em;
    }

    .input-container {
        flex-direction: column;
    }

    .glass-form-container {
        min-height: 90vh;
        padding-bottom: 2%;
    }

    .glass-form {
        padding: 5% 10% 0 10%;
    }

    label {
        margin-right: 0;
    }
    
}